<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marvik">

    <application>

        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc" />

        <service android:name="com.marvik.MyMessagingService"></service>

        <receiver android:name="com.marvik.MessageReadReceiver">
            <intent-filter>
                <action android:name="com.marvik.ACTION_MESSAGE_READ" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.marvik.MessageReplyReceiver">
            <intent-filter>
                <action android:name="com.marvik.ACTION_MESSAGE_REPLY" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
